<h2>Update Product Details</h2>

<form action="/products/<%= @product.id %>" method="post">
  <label for="name">Product Name</label>
  <input type="text" name="name" id="name" value="<%= @product.name %>">

  <label for="description">Description</label>
  <input type="text" name="description" id="description" value="<%= @product.description %>">

  <label for="category_select">Select Category:</label>
  <select id="category_select" name="category_id" selected="<%= @product.category_id %>">
    <% for category in @categories %>
    <option value=<%= category.id %>><%= category.name %></option>
    <% end %>
  </select>

  <input type="submit" name="Update Product" value="Update Product">
</form>
