<h1>Product Details</h1>

<h2><%= @product.name %></h2>
<h2><%= @product.description %></h2>
<h2><%= @product.category_name.name %></h2>

<h2><a href="/products/<%= @product.id %>/edit">Edit Product Details</a></h2>
<h2><a href="/products/<%= @product.id %>/delete">Delete Product</h2>
