<h2>Update Supplier Details</h2>

<form action="/suppliers/<%= @supplier.id %>" method="post">
  <label for="name">Supplier Name</label>
  <input type="text" name="name" id="name" value="<%= @supplier.name %>">

  <label for="contact_name">Contact Person</label>
  <input type="text" name="contact_name" id="contact_name" value="<%= @supplier.contact_name %>">

  <label for="email">Email</label>
  <input type="text" name="email" id="email" value="<%= @supplier.email %>">

  <label for="phone_number">Phone Number</label>
  <input type="text" name="phone_number" id="phone_number" value="<%= @supplier.phone_number %>">

  <input type="submit" name="Update Supplier">
</form>
