<link rel="stylesheet" type="text/css" href="../../styles/layout.css">
<h2>Update Stock</h2>

<form action="/stock/<%= @stock.id %>" method="post">

  <label for="product_select">Select Product:</label>
  <select id="product_select" name="product_id" selected="<%= @stock.product_id %>">
    <% for product in @products %>
    <% if product.id == @stock.product_id %>
    <option value=<%= product.id %> selected><%= product.name %></option>
    <% else %>
    <option value=<%= product.id %>><%= product.name %></option>
    <% end %>
    <% end %>
  </select>


  <label for="supplier_select">Select Supplier:</label>
  <select id="supplier_select" name="supplier_id" selected="<%= @stock.supplier_id %>">
    <% for supplier in @suppliers %>
    <% if supplier.id == @stock.supplier_id %>
    <option value=<%= supplier.id %> selected><%= supplier.name %></option>
    <% else %>
    <option value=<%= supplier.id %>><%= supplier.name %></option>
    <% end %>
    <% end %>
  </select>

  <label for="stock_quantity">Quantity:</label>
  <input type="number" name="stock_quantity" value=<%= @stock.stock_quantity %>>

  <label for="buying_cost">Buying Cost</label>
  <input type="number" step="0.01" name="buying_cost" value=<%= @stock.buying_cost %>>

  <label for="selling_price">Selling Price</label>
  <input type="number" step="0.01" name="selling_price" value = <%= @stock. selling_price %>>

  <input type="submit" name="Update Product" value="Update Product">
</form>
