<h1>Inventory</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Supplier</th>
    <th></th>
    <th>Description</th>
    <th></th>
    <th>Stock</th>
    <th></th>
    <th>Cost</th>
    <th></th>
    <th>Price</th>
    <th></th>
    <th>Markup</th>
    </tr>
    <% for stock in @stock %>
    <tr>
      <td><%= stock.product.name %></td>
      <td>|</td>
      <td> <%= stock.supplier.name %></td>
      <td>|</td>
      <td> <%= stock.product.description %></td>
      <td>|</td>
      <td> <%= stock.stock_quantity %></td>
      <td>|</td>
      <td> <%= stock.buying_cost %></td>
      <td>|</td>
      <td> <%= stock.selling_price %></td>
      <td>|</td>
      <td> <%= stock.markup.round %>%</td>
    </tr>
  <% end %>
</table>
