
<div class="inventory">
<div class="inventory-menu">
<h2 class="button"><a href='/stock/new'>Add new stock</a></h2>
</div>
<div class="inventory-table">
<table class="filteredtable">
  <tr>
    <th>Product</th>
    <th></th>
    <th>Supplier</th>
    <th></th>
    <th>Description</th>
    <th></th>
    <th>Category</th>
    <th></th>
    <th>Stock Level</th>
    <th></th>
    <th>Cost</th>
    <th></th>
    <th>Price</th>
    <th></th>
    <th>Markup</th>
    <th></th>
    <th>Edit</th>
    </tr>
    <% for stock in @stock %>
    <tr class=<%=stock.product.category_name.name%>>
      <td><a href="/products/<%= stock.product_id %>"><%= stock.product.name %></a></td>
      <td>|</td>
      <td><a href="/suppliers/<%= stock.supplier_id %>"> <%= stock.supplier.name %></a></td>
      <td>|</td>
      <td> <%= stock.product.description %></td>
      <td>|</td>
      <td> <%= stock.product.category_name.name %></td>
      <td>|</td>
      <% if stock.stock_quantity > 100 %>
      <td bgcolor="#A9FFCB"><%= stock.stock_quantity %></td>
      <% elsif stock.stock_quantity == 0 %>
      <td bgcolor="#F40028"><%= stock.stock_quantity %></td>
      <% else  %>
      <td bgcolor="#FFCB47"><%= stock.stock_quantity %></td>
      <% end %>
      <td>|</td>
      <td> <%= stock.buying_cost %></td>
      <td>|</td>
      <td> <%= stock.selling_price %></td>
      <td>|</td>
      <td> <%= stock.markup %>%</td>
      <td>|</td>
      <td class="edit"><a href="/stock/<%= stock.id %>/edit">Edit</a></td>
    </tr>
  <% end %>
</table>
</div>
</div>
